# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# CMake temporary folders
**/CMakeFiles
**/[Cc][Mm]ake-[Bb]uild*


# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables and IDE files
*.exe
*.out
*.app
/.vs
.idea
/VSProject/.vs/SpeccyExplorer/v15
/VSProject/SpeccyExplorer/Debug
/VSProject/SpeccyExplorer/x64/Debug
/VSProject/SpeccyExplorer/imgui.ini
/VSProject/SpeccyExplorer/SpeccyExplorer.vcxproj.user
/VSProject/x64/Debug
/Data/imgui.ini
/VSProject/.vs/config/applicationhost.config
/VSProject/SpeccyExplorer/x64/Release
/VSProject/x64/Release
/Source/Vendor/chips-test/out/build/x64-Debug
/Source/Vendor/imgui-docking/examples/example_glfw_vulkan/out/build/x64-Debug/.cmake/api/v1/query/client-MicrosoftVS
/Source/Vendor/imgui-docking/examples/example_glfw_vulkan/out/build/x64-Debug
/Source/Vendor/rapidjson/out/build/x64-Debug
/VSProject/.vs/SpeccyExplorer/v16
/VSProject/C64/C64Explorer/.vs/C64Explorer/v16
/VSProject/C64/C64Explorer/Debug
/VSProject/C64/C64Explorer/Release
/Package/Loose
/VSProject/compileData.scor
/VSProject/compileData.scor.incl
/VSProject/compileData.scor.t0000
/Data/SpectrumAnalyser/GlobalConfig.json
/Source/ZXSpectrum/build
/Source/ZXSpectrum/linuxbuild
/glfw
/VSProject/C64/C64Explorer/x64/Debug
/VSProject/C64/C64Explorer/.vs/C64Explorer/config
/Source/C64/build
/Source/C64/linuxbuild
.DS_Store
