[submodule "Source/Vendor/tinydir"]
	path = Source/Vendor/tinydir
	url = https://github.com/cxong/tinydir
[submodule "Source/Vendor/glfw"]
	path = Source/Vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "Source/Vendor/stb"]
	path = Source/Vendor/stb
	url = https://github.com/nothings/stb
[submodule "Source/Vendor/chips"]
	path = Source/Vendor/chips
	url = https://github.com/floooh/chips
[submodule "Source/Vendor/chips-test"]
	path = Source/Vendor/chips-test
	url = https://github.com/floooh/chips-test
[submodule "Source/Vendor/json"]
	path = Source/Vendor/json
	url = https://github.com/nlohmann/json
