# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/VSProject/.vs/SpeccyExplorer/v15
/VSProject/SpeccyExplorer/Debug
/VSProject/SpeccyExplorer/x64/Debug
/VSProject/SpeccyExplorer/imgui.ini
/VSProject/SpeccyExplorer/SpeccyExplorer.vcxproj.user
/VSProject/x64/Debug
/Data/imgui.ini
